/* Reset de estilos e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    line-height: 1.6;
    color: #333; /* Cor do texto padrão */
}

/* Estilos para o cabeçalho */
header {
    background-color: #003b55; 
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.logo img {
    max-width: 150px;
    height: auto;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #e77532; 
}

/* Estilos para as categorias de notícias */
.section-title {
    font-weight: bold;
    margin: 0;
    color: #333;
}

.section-subtitle {
    font-size: 20px;
    margin-top: 0;
    color: #333;
}

/* Estilos para títulos de categoria */
.category-title {
    background-color: #003b55; 
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.category-title h2, #category-name {
    font-size: 28px;
    margin: 0;
    font-weight: bold;
    padding: 20px;
    color: #333;
}

/* Estilos para a lista de notícias recentes */
#recent-news-list {
    list-style: none;
    padding: 20px;
    border-top: 1px solid #ddd;
}

#recent-news-list li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

#recent-news-list h3 {
    font-size: 24px;
    margin-top: 0;
    color: #333;
}

.author {
    font-weight: bold;
    color: #666;
}

.date {
    color: #666;
    font-size: 14px;
}

/* Estilos comuns para notícias em destaques */
.featured-news{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

}

/* Estilos do carrossel de imagens */
.image-gallery {
    text-align: center;
    position: relative;
    width: 100vw; /* Largura da tela inteira */
    height: 100vh; /* Altura da tela inteira */
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5 ease-in-out;
}

.carousel-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* A imagem cobre todo o contêiner */
    margin: 0 auto;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent; /* Botões transparentes */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 44px;
    opacity: 0.1; /* Opacidade reduzida */
    transition: opacity 0.3s ease-in-out;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Aumenta a opacidade ao passar o mouse */
}

#prevBtn {
    left: 10px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

#nextBtn {
    right: 10px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}



/* Estilos de link */
a {
    color: #003b55; 
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
}

a:hover {
    border-bottom: 1px solid #003b55; 
}



/* Estilos para o rodapé */
footer {
    background-color: #003b55; 
    color: #fff;
    padding: 25px;
    font-size: 14px;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    top: 100vh;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #recent-news-list h3 {
        font-size: 20px;
        padding: 20px;
    }

    .news-details {
        font-size: 12px;
    }

    .image-container img {
        margin: 0 0 10px 0;
    }

    /* Estilos para o conteúdo de texto */
    .article-content {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
        padding: 20px;
    }

    .article-content h2 {
        font-size: 24px;
        font-weight: bold;
        margin: 20px 0;
    }

    /* Estilos para vídeos incorporados */
    .article-content iframe {
        max-width: 100%;
        height: auto;
        margin: 20px 0;
        display: block;
    }
}
