/* Reset de estilos e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333; /* Cor do texto padrão */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

/* Estilos para o cabeçalho */
header {
    background-color: #003b55; 
    color: #fff;
    padding: 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border: none;
    width: 100%;
    margin-bottom: 20px;
}

.logo img {
    max-width: 150px;
    height: auto;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;

}

nav ul li a:hover {
    color: #e77532; 
}

/* Estilos para as categorias de notícias */
.section-title {
    font-weight: bold;
    margin: 0;
    color: #333;
}

.section-subtitle {
    font-size: 20px;
    margin-top: 0;
    color: #333;
}


/* Estilos do carrossel de imagens */
.image-gallery {
    text-align: center;
    position: relative;
    width: 100vw; /* Largura da tela inteira */
    height: calc(100vh - 47px); /* Altura da tela inteira menos 20px de espaço */
    overflow: hidden;
    margin-top: 0; /* Remova qualquer margem superior */
    padding-top: 0;
    border: none;
}



.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5 ease-in-out;
}

.carousel-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* A imagem cobre todo o contêiner */
    margin: 0 auto;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent; /* Botões transparentes */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 44px;
    opacity: 0.1; /* Opacidade reduzida */
    transition: opacity 0.3s ease-in-out;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}



/* Estilos de link */
a {
    color: #003b55; 
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
}

a:hover {
    border-bottom: 1px solid #003b55; 
}



/* Estilos para o rodapé */
footer {
    background-color: #003b55; 
    color: #fff;
    padding: 25px;
    font-size: 14px;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    top: 100vh;
}


/* Estilos para a Seção de Notícias */
.news-section {
    background-color: #ffffff; /* Altere a cor de fundo conforme desejado */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px; /* Borda arredondada */
}

.news-container {
    display: flex;
    flex-wrap: wrap; /* Para lidar com vários blocos em uma única linha */
    justify-content: space-between;
}

.news-block {
    width: 33%; /* Ajuste a largura conforme necessário */
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    text-align: justify;
    background-color: #fff; /* Fundo branco para cada bloco */
    border-radius: 5px; /* Borda arredondada */
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Efeito de transformação ao passar o mouse */
}

.news-block:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}

.news-block img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 6px; /* Borda arredondada para as imagens */
}

.news-block h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333; /* Cor do título da notícia */
}

.news-block p {
    font-size: 14px;
    color: #777; /* Cor do texto da notícia */
}

.news-block a {
    color: #003b55;
    text-decoration: none;
    font-weight: bold;
}

/* Estilize os links quando o mouse estiver sobre eles */
.news-block a:hover {
    text-decoration: underline;
    color: #e77532; /* Cor ao passar o mouse */
}


/* Estilos para a Seção de Placar de Esportes */
.sports-score {
    background-color: #fff; /* Plano de fundo branco */
    padding: 0px;
    color: #333; /* Cor do texto */
}

.sports-score .section-title {
    font-size: 24px;
    margin: 0 0 20px;
}

.score-container {
    display: flex;
    flex-wrap: wrap; /* Para lidar com vários blocos em várias linhas */
    justify-content: space-between;
    padding: 5px; /* Espaçamento interno */
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    margin-top: 15px;
}

.score-block {
    width: calc(25% - 5px); /* Distribuição em duas colunas com margens entre elas */
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* Alinha os elementos internos à esquerda e à direita */
    align-items: center;
    padding: 15px;
    border-left: 1px solid #E5E5E5;
}


.team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.team-logo {
    width: 50px; /* Largura fixa para o logotipo do time */
    height: 50px; /* Altura fixa para o logotipo do time */
    background-color: #fff; /* Fundo branco para o logotipo */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Espaçamento inferior para o logotipo */
}

.team-logo-img {
    max-width: 100%;
    max-height: 100%;
}

.score {
    font-size: 24px;
    font-weight: bold;
    color: #363636; /* Cor do placar */
}

.divider {
    font-size: 24px;
    margin: 0;
}

.match-info {
    font-size: 14px;
    color: #777; /* Cor do texto informativo */
    margin-top: 10px;
}

/* Estilize os links quando o mouse estiver sobre eles */
.team-name:hover {
    text-decoration: underline;
} 

/* Estilos para o artigo */
.article-art {
    max-width: 80%; /* Limita o artigo a 70% da largura da página */
    background-color: #ffffff;
    padding: 20px;
}

.article-art-header {
    text-align: left; 
    margin-bottom: 20px;
}

.article-art-title {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 16px;
    color: #262626;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 0;
    margin-top: 0;
}

.article-art-meta-info {
    flex-direction: column;
    font-size: 0.9rem;
    color: #555;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 16px;
}

.article-art-image {
    text-align: left; /* Centraliza a imagem */
    margin-bottom: 20px;
}

.article-art-image img {
    width: 100%;
    border-radius: 5px;
}

.image-caption {
    font-size: 0.8rem;
    color: #777;
    margin-top: 5px;
    text-align: left; 
}

.article-art-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.article-art-text::before {
    content: "\00a0"; 
  }

.article-blockquote {
    background-color: #f0f0f0;
    border-left: 5px solid #333;
    padding: 15px;
    margin: 20px 0;
}

.article-art-header {
    background-color: rgb(255, 255, 255);
    padding: 0; /* Remova qualquer padding desnecessário */
}

.article-art-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

.news-container-category {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    margin: 20px;
}

.news-block-category {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.news-image-category {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
}


.news-content-category {
    flex: 2;
    padding: 20px;
}


.author-category, .date-category {
    font-size: 16px;
    margin: 5px 0;
    color: #777;
}